  
.image-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    width: 70vw;
    align-items:center;
    margin-left: 15vw;
    border-color: #61dafb, 4px;
    border-width: 20px;
  }
  
  .image {
    display: block;
    border-color:#61dafb;
    margin: 20px;
    height: 200px;
    width: 300px;
  }
  